body{
	background: url(BG_login.png) no-repeat center center fixed;
	-webkit-background-size: cover;
   -moz-background-size: cover;
   background-size: cover;
 
}
#frm{
	border: solid gray 1px;
	width: 20%;
	border-radius: 15px;
	margin: 100px auto;
	background: transparent;
	padding: 50px;
	margin-top:250px;
}
#btn{
	color: #fff;
	background: #337ab7;
	padding: 5px;
	margin-left: 69%;
	
}
